.projects {
    background-color: #ffe8d6;
    width: 100%;
    height: 100vh;
    color: #282521;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: center;
    scroll-snap-type: proximity;
}

.card {
    color: #282521;
    width: 25%;
    border: 3px solid #282521;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 160px;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.about-heading {
    padding-top: 40px;
}

.link {
    color: #282521;
    text-decoration: underline;
}

@media only screen and (max-width: 1223px) {
    .card h5 {
        font-size: 10px;
    }
    .card h4 {
        font-size: 13px;
    }
    .links h1 {
        font-size: 50px;
    }
}

.projects2,
.projects3 {
    display: none;
    width: 100%;
    height: 900px;
}

@media only screen and (max-width: 880px) {
    .projects2 {
        display: flex;
        flex-direction: column;
        background-color: #ffe8d6;
        width: 100%;
        height: 1100px;
        color: #333d29;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .projects2 h1 {
        font-size: 30px;
    }
    .projects2 .card {
        width: 35%;
    }
    .projects {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .projects3 {
        display: flex;
        flex-direction: column;
        background-color: #ffe8d6;
        width: 100%;
        height: 1790px;
        color: #333d29;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .projects3 h1 {
        font-size: 20px;
    }
    .projects3 .card {
        width: 80%;
    }
    .projects,
    .projects2 {
        display: none;
    }
    .links h1 {
        font-size: 30px;
    }
    .links {
        height: 50%;
        margin-top: 20vh;
    }
}

.cards-first {
    margin-top: 150px;
}
