div {
    color: #ffe8d6;
}

.home-text {
    color: #efe6d5;
    background-color: #9dbeb7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main {
    display: flex;
    justify-content: center;
    background-color: #9dbeb7;
    width: 100%;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    mix-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.heading {
    border-right: 0.15em solid #ffa393;
    padding-right: 10px;
    overflow: hidden;
    margin: 0;
    font-size: 40px;
    animation: typing 1.3s steps(20), blink-caret 0.75s;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 40vh;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #ffa393;
    }
}
.icons {
    margin-top: 20px;
    width: 20%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

img {
    justify-content: space-between;
}

svg {
    width: 70px;
}

.animation {
    width: 100%;
    background-color: #393a3769;
}
