.contact {
    width: 100%;
    height: 650px;
    background-color: #1e1f26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    padding-top: 50px;
    color: #d0e1f9;
}

.send {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.send form input {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #283655;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #d0e1f9;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 400px;
}

.send form textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
    background-color: #283655;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    resize: none;
    color: #d0e1f9;
}

.send form .button {
    width: 50%;
    border: none;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #283655;
    color: #d0e1f9;
    transition: all ease-in 0.3s;
}

.send form .button:hover {
    background-color: #d0e1f9;
    color: #1e1f26;
    border: 3px solid #283655;
}

.contact-main {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 40px;
}

@media only screen and (max-width: 800px) {
    .contact-main {
        width: 55%;
    }
}
label {
    color: #d0e1f9;
    font-weight: 900;
    font-size: 20px;
}

.hr1 {
    background-color: #d0e1f9;
}

.hr2 {
    background-color: #283655;
}

@media only screen and (max-width: 716px) {
    .contact-main {
        width: 80%;
    }
    .hr {
        background-color: #d0e1f9;
        width: 35%;
        margin-top: 35px;
    }
    .contact {
        background-color: #283655;
    }
    label {
        color: #d0e1f9;
    }
    .send form input {
        background-color: #d0e1f9;
        color: #283655;
    }
    .send form textarea {
        background-color: #d0e1f9;
        color: #283655;
    }
    .send form .button {
        background-color: #d0e1f9;
        color: #4d3a38;
    }
    .send form .button:hover {
        background-color: #283655;
        color: #d0e1f9;
        border: 2px solid #d0e1f9;
    }
    .contact-heading {
        color: #d0e1f9;
    }
}

@media only screen and (max-width: 966px) {
    .contact-main {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    .contact-main {
        width: 90%;
    }
    label {
        font-size: 16px;
    }
}
