.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #070707;
    color: white;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid white;
}
.navbar-div {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.navbar h1 {
    font-weight: 400;
}
.navbar .navbar-div h2 {
    font-weight: 250;
}

@media only screen and (max-width: 1223px) {
    .navbar-div {
        width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-div {
        width: 40%;
    }
}

@media only screen and (max-width: 705px) {
    .navbar-div {
        width: 45%;
    }
    h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 505px) {
    .navbar-div {
        width: 55%;
    }
    h2 {
        font-size: 17px;
    }
}

.a2 {
    color: rgb(98, 255, 0);
}
